<nav id="tabs">
  <button id="loadplaylist">load</button>
  <ul>


  <li><a href="#tab8">search</a></li>
  <li><a href="#tab1">scrapper</a></li>
  <li><a href="#tab2">infos</a></li>
  <li class="active"><a href="#tab3">browse</a></li>
  <li><a href="#tab4">export</a></li>
  <li><a href="#tab5">options</a></li>
  <li><a href="#tab6">glitch</a></li>
  <li><a href="#tab7">broadcast</a></li>
    </ul>
</nav>
<section id="tab-contents">
<%- include('./exportz'); %>
<%- include('./filebrowser'); %>
<%- include('./infos'); %>
<%- include('./scrapper'); %>
<%- include('./options'); %>
<%- include('./glitch'); %>
<%- include('./broadcast'); %>
<%- include('./search'); %>
</section>
